/* Write your CSS code here */
h2 {
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}

@keyframes active {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}