@keyframes active {
    from {
        transform: scale(1);
    }
    to {
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, .3);
        transform: scale(1.1);
    }
}

@keyframes inactive {
    from {
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, .7);
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}